include ../button/button

.work-wrapper
  .work-title: h2(data-subtitle='Просто') С нами просто!
  .work-subtitle Убедитесь сами, как легко работать с нами
  .w
    .c.c4
      .work-icon: .work-icon-1
      .work-name Заявка
      .work-text
        |Вы оставляете заявку (заявка с сайта, заказать звонок или сами нам позвонили)#[br]
        +button_flat() заказать обратный звонок
    .c.c4
      .work-icon: .work-icon-2
      .work-name Макет
      .work-text Вы присылаете макет, если его нет – ничего страшного! мы все сделаем сами (разработаем, откорректируем и тп.)#[br]Вы будете довольны!
    .c.c4
      .work-icon: .work-icon-3
      .work-name Доставка
      .work-text У нас есть доставка по Санкт-Петербургу. Но можем привезти к Вам и в область. Или организуем доставку до дверей по всей России.
