.input
  display: block
  width: 100%
  color: $black
  border: 0
  background: #F0F0F0
  font-family: inherit
  font-size: 15px
  line-height: 1
  text-align: left
  outline: 0
  padding: 14px 16px
  transition: all .1s ease-out
  -webkit-appearance: none
  -moz-appearance: none
  border-radius: 25px
  anim()

  &::-webkit-input-placeholder
    color: #6C6C6C
  &::-moz-placeholder
    color: #6C6C6C
  &:-ms-input-placeholder
    color: #6C6C6C
  &:-moz-placeholder
    color: #6C6C6C

  &:focus
    background: $white

  textarea&
    overflow: hidden
    min-width: 100%
    max-width: 100%
    width: 100%