.form-block: form(method='get' action='/')
  .form-wrapper
    input.form-input(name='name' placeholder='Имя')
    span.form-message

  .form-wrapper
    input.form-input(name='phone' placeholder='Телефон')
    span.form-message

  .form-wrapper
    input.form-input(name='email' placeholder='Email')
    span.form-message

  .form-wrapper
    textarea.form-input(name='message' placeholder='Сообщение')
    span.form-message

  .form-wrapper
    input(type='submit')
