extends ../../modules/layout/layout

block body
  include ../../modules/header/header
  include ../../modules/slider/slider
  include ../../modules/products/products
  include ../../modules/stocks/stocks
  include ../../modules/request/request
  include ../../modules/work/work
  include ../../modules/facts/facts
  include ../../modules/contacts/contacts
  include ../../modules/footer/footer
  //include ../../modules/form/form
  //include ../../modules/sprites/sprites