extends ../../modules/layout/layout
include ../../modules/request/request

block body
  include ../../modules/header/header
  include ../../modules/slider/slider
  include ../../modules/products/products
  include ../../modules/stocks/stocks
  +request()
  include ../../modules/work/work
  include ../../modules/facts/facts
  include ../../modules/niz/niz
  //include ../../modules/form/form
  //include ../../modules/sprites/sprites