doctype html
html
  head
    title Hello
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900i|Ubuntu:300,700&amp;subset=cyrillic" rel="stylesheet")

    //link(rel="shortcut icon" href="/favicon.ico")

    :styles

  body
    block body
    .layout-popup
      include ../callback/callback
    include ../photoswipe/photoswipe


    :scripts
    :hotreload