include ../button/button

.product-wrapper
  .w
    .c.c12
      .product-menu: ul
        li: a(href='#') Классические#[br]картины
        li: a(href='#') Модульные#[br]картины
        li: a(href='#') Фотографии
        li: a(href='#') Фотомозайка
        li: a(href='#') Репродукции
        li: a(href='#') Поп-арт
        li: a(href='#') Арт-портреты
        li: a(href='#') Фотопанно
  .product-title: h2(data-subtitle='Картины') Модульные картины
  //.product-subtitle Актуально для дизайна интерьера и для подарка!
  .w.product-content.wc
    .c.c9
      .product-sizes
        include ../sizes/sizes
      //.product-slider
      //  img(src='modules/product/image.jpg')
      //  img(src='modules/product/image.jpg')
      //  img(src='modules/product/image.jpg')
      //  img(src='modules/product/image.jpg')
    .c.c3
      .product-params
        p #[b Изготовление:] 1 день
        p #[b Холст:] Натуральный
        p #[b Печать:] Высококачественная

        ul
          li Влагостойкие
          li Стойкие к выцветанию
          li Без неприятного запаха
          li Бесплатная доставка

      .product-button
        +button(class='product-order') Перейти к заказу