.sizes-wrapper
  img.sizes-bg(src='modules/sizes/bg.jpg')
  .sizes-slider
    .sizes-slide(data-lazy='modules/sizes/picture.png')
    .sizes-slide(data-lazy='modules/sizes/image.jpg')
    .sizes-slide(data-lazy='modules/sizes/picture.png')
    .sizes-slide(data-lazy='modules/sizes/image.jpg')
    .sizes-slide(data-lazy='modules/sizes/picture.png')
    .sizes-slide(data-lazy='modules/sizes/image.jpg')
  .sizes-width
    .sizes-minus
    .sizes-size
    .sizes-plus
  .sizes-height
    .sizes-minus
    .sizes-size
    .sizes-plus
script.
  var sizes = {
    positionX:          50,
    positionY:          30,
    maxContainerWidth:  40,
    maxContainerHeight: 30,
    minWidth:           20,
    maxWidth:           120,
    minHeight:          20,
    maxHeight:          70,
  };