.wrapper
  display: inline-block
  position: relative

.bg
  margin: 0 auto
  display: block
  user-select: none
  pointer-events: none;


.slider
  position: absolute
  top: 0
  height: 100%
  transform: translateX(-50%)

  :global
    .slick-list
      //top: 30%
      //height: 40%
      transform: translateY(-50%)

    .slick-track
      height: 100%

    .slick-slide
      outline: 0

.slide
  position: relative
  height: 100%
  overflow: hidden
  background-size: cover
  background-position: 50% 50%

.picture
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  min-width: 100%
  min-height: 100%
  width: auto
  height: auto

.width,
.height
  position: absolute
  transform: translate(-50%, -50%)
  display: none

.width
  height: 40px

.size
  width: 50px
  border: 1px solid $red
  border-radius: 4px

.minus
  cursor: pointer
  background: url(sprites/sprite-minus.svg)

.plus
  cursor: pointer
  background: url(sprites/sprite-plus.svg)

.size,
.minus,
.plus
  display: inline-block
  vertical-align: middle
  margin: .2em

.height>*
  display: block
  margin: .5em auto

.thumbs
  position: absolute
  overflow: hidden
  top: 100%
  width: 100%
  padding: 0 40px
  margin-top: 8px

  :global
    .slick-slide
      outline: 0

    .slick-arrow
      position: absolute
      top: 50%
      font-size: 0
      border: 0
      padding: 0
      background-color: transparent
      margin-top: -40px
      z-index: 1
      anim()

      &:hover
        opacity: .8

    .slick-prev
      left: 0
      margin-left: -40px
      background: url(modules/slider/sprite-arrow-left.svg)

    .slick-next
      right: 0
      margin-right: -40px
      background: url(modules/slider/sprite-arrow-right.svg)


  &_slider
    display: block

.thumb
  position: relative
  margin: 0 4px