.wrapper
  display: inline-block
  position: relative

.bg
  margin: 0 auto
  display: block

.slider
  position: absolute
  top: 0
  height: 100%
  transform: translateX(-50%)

  :global
    .slick-list
      //top: 30%
      //height: 40%
      transform: translateY(-50%)

    .slick-track
      height: 100%

    .slick-slide
      outline: 0

    .slick-dots
      position: absolute
      display: block
      top: 100%
      white-space: nowrap
      left: 50%
      transform: translateX(-50%)
      margin: 0
      text-align: center
      padding: 0

      li
        display: inline-block
        vertical-align: middle
        width: 18px
        height: 18px
        line-height: 18px
        font-size: 0
        margin: 0 4px
        text-align: center

        &.slick-active button
          background: $red
          border-color: $red
          width: 18px
          height: 18px

      button
        width: 12px
        height: 12px
        background-color: $grey
        border-radius: 50%
        border: 2px solid $grey
        text-indent: -99999px
        padding: 0
        display: inline-block
        vertical-align: middle
        anim()

.slide
  position: relative
  height: 100%
  overflow: hidden
  background-size: cover
  background-position: 50% 50%

.picture
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  min-width: 100%
  min-height: 100%
  width: auto
  height: auto

.width,
.height
  position: absolute
  transform: translate(-50%, -50%)

.size
  width: 50px
  border: 1px solid $red
  border-radius: 4px

.minus
  cursor: pointer
  background: url(sprites/sprite-minus.svg)

.plus
  cursor: pointer
  background: url(sprites/sprite-plus.svg)

.size,
.minus,
.plus
  display: inline-block
  vertical-align: middle
  margin: .2em

.height>*
  display: block
  margin: .5em auto
