mixin button(tag, color)
  - if(!tag) tag = 'button'
  - var className = 'button-button' + (color ? ' button-purple' : '')
  #{tag}(class=className)&attributes(attributes)
    if(block)
      block

mixin button_flat()
  button.button-flat&attributes(attributes)
    if(block)
      block
