include ../button/button

- var menu = ['Продукция', 'Акции', 'О нас', 'Блог', 'Контакты']
header.header-wrapper#header: .w.wc
  .c.c3.header-logo
    img.header-image(src='modules/header/logo.png')
    .header-title Мастерская#[br]Соцветие
  .c.c6
    nav.header-menu
      ul
        for item in menu
          li: a(href='#')= item

  .c.c3
    .header-contacts
      .header-phone #[span.header-code 8 812] 602 13 82
      +button_flat(class='header-callback' href='#callback') заказать звонок