.footer-wrapper
  .w.footer-content
    .footer-map
      .footer-girl
      #map
    .c.c3
      .footer-title
        img.footer-logo(src='modules/header/logo.png')
        .footer-title-text Мастерская Соцветие

      .footer-copyright
        |Мастерская Соцветие 2017©
        .footer-politic Политика конфиденциальности

      .footer-top В начало#[br]сайта