.wrapper
  display: inline-block
  text-align: left

:global
  .selectize-input
    border-bottom: 1px solid $white
    font-size: 15px
    font-weight: 700
    position: relative
    white-space: nowrap
    padding-right: 40px
    color: $white

    @media (max-width: $breakpoint-sm - 1)
      padding-top: 8px
      padding-bottom: 8px

    &:after
      content: ''
      display: block
      background: url(sprites/sprite-select-arrow.svg)
      position: absolute
      right: 0px
      top: 50%
      margin-top: -4px
      anim()

    &.dropdown-active:after
      transform: rotate(180deg)

    &.disabled
      background-color: #dfdfdf

    .item
      vertical-align: top
      display: inline-block
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      max-width: 100%

    input
      display: none

  .selectize-dropdown
    position: absolute
    z-index: 100
    border: 1px solid #E6E6E6
    background: #ffffff
    margin: -1px 0 0 0
    border-top: 0 none
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1)
    border-radius: 0 0 3px 3px
    max-height: 200px
    min-width: 260px
    overflow-y: scroll

    .option
      font-size: .8em
      padding: 3px 20px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      cursor: pointer
      anim()

      &.active, &:hover
        color: $red