.wrapper
  z-index: 1
  roundPlash(#7633b7, 'sprite-arrow-down-white.svg')
  color: $white

.content
  background-image linear-gradient(to bottom, #7633b7, #275fbb)
  padding: 2em 0


.title h2:before
  font-size: 2.5em

.subtitle
  text-align: center
  font-size: 1.2em
  margin: 1em 0 2em

.item
  margin-bottom: 3em
  position: relative

  @media (max-width: $breakpoint-sm - 1)
    margin-bottom: 1em

.icon
  background: url(modules/facts/icons/sprite-facts-circle.svg)
  line-height: 102px
  font-size: 0
  text-align: center
  float: left

  @media (max-width: $breakpoint-md - 1)
    float: none
    margin: 0 auto


  &:after
    content: ''
    display: inline-block
    vertical-align: middle

for $i in (1..9)
  .icon-{$i}:after
    background: url('modules/facts/icons/sprite-facts-' + $i + '.svg')

.inner
  margin-left: 140px

  @media (max-width: $breakpoint-lg - 1)
    margin-left: 110px
    font-size: .9em

  @media (max-width: $breakpoint-md - 1)
    margin: 0
    text-align: center

.name
  height: 70px
  line-height: 70px

  @media (max-width: $breakpoint-md - 1)
    height: auto
    line-height: normal
    margin: .5em 0

  &_inner
    line-height: 1.2
    display: inline-block
    vertical-align: middle
    width: 100%

.button
  font-size: .8em
  text-decoration: underline
  cursor: pointer


.popup
  position: absolute
  background: $white
  border-radius: 7px
  top: 0
  left: 0
  padding: 1.5em
  display: none
  z-index: 1

  @media (max-width: $breakpoint-sm - 1)
    max-width 400px
    left: 50%
    transform: translateX(-50%)

  &-title
    color: $red
    font-weight: 700

  &-text
    font-size: .8em
    margin-top: 1em
    color: $black

  &_close
    position: absolute
    right: 0
    top: 0
    background: url(sprites/sprite-close.svg)
    opacity: .7
    cursor: pointer
    anim()

    &:hover
      opacity: 1

.click
  cursor: pointer

  &:hover .button
    text-decoration: none