.contacts-wrapper: .contacts-container
  .contacts-title: h2(data-subtitle='Контакты') Где мы находимся
  .w: .c.c5
    .contacts-item
      .contacts-name Адрес:
      .contacts-value 192102, г. Санкт-Петербург, ул.Бухарестская, дом 32
    .contacts-item
      .contacts-name Телефон:
      .contacts-value +7 (812) 602-13-82
    .contacts-item
      .contacts-name Почта:
      .contacts-value info@scvt.ru

