.wrapper
  z-index: 1
  roundPlash(#7633b7, 'sprite-arrow-down-white.svg')

.container
  background-image linear-gradient(to bottom, #7633b7, #275fbb)
  padding: 2em 0
  text-align: center

.title
  color: $white
  font-size: 2.6em
  fontSerif()
  letter-spacing: 1px

.subtitle
  color: $white
  letter-spacing: 1px

.form
  display: block
  max-width: 880px + $gutter
  margin: 1em auto 0
  text-align: justify
  padding: 0 $gutter-half
  cf()

.input,
.left,
.right
  @media (max-width: $breakpoint-sm - 1)
    display: block
    max-width 320px
    margin: 0 auto 1em
    text-align: center

.input
  margin-top: $gutter-half

.left
  float: left
  text-align: center
  padding-right: $gutter

  @media (max-width: $breakpoint-sm - 1)
    padding-right: 0

.right
  float: right
  padding-left: $gutter

  @media (max-width: $breakpoint-sm - 1)
    padding-left: 0

.left,
.right
  width: 33.333%
  @media (max-width: $breakpoint-sm - 1)
    float: none
    width: auto

.center
  margin: 0 33.333%
  text-align: center

  @media (max-width: $breakpoint-sm - 1)
    margin: 0

.row
  width: 100%
  display: inline-block
  margin-top: 2em

  @media (max-width: $breakpoint-sm - 1)
    margin-top: 0

.white
  roundPlash($white, 'sprite-arrow-down-red.svg')

  .container
    background: $white
    padding: 1em 0 4em

  .title
    color: $red

  .subtitle
    color: $black